<div class="wrap">
  <mat-card class="card">
    <h1>Калькулятор</h1>
    <form [formGroup]="form" class="form">
      <mat-form-field>
        <input
          formControlName="coef"
          matInput
          type="number"
          placeholder="Коэфициент"
          [(ngModel)]="coef"
          name="coef"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Выберите</mat-label>
        <mat-select
          class="select"
          (ngModelChange)="multiplyVal($event, coef)"
          formControlName="selectCoef"
        >
          <mat-option
            *ngFor="let option of optionValues"
            [value]="option.value"
            >{{ option.value }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input
          type="text"
          [value]="answerVal"
          placeholder="Прибыль"
          matInput
          disabled
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          placeholder="Количество ставок"
          [value]="countOfBets"
          matInput
          disabled
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          placeholder="Ботов"
          [value]="countOfBots"
          matInput
          disabled
        />
      </mat-form-field>
    </form>
    <div [formGroup]="subForm" class="form">
      <mat-form-field>
        <mat-label>Вычтите если был минус</mat-label>
        <mat-select
          class="select"
          (ngModelChange)="substring($event)"
          formControlName="substring"
        >
          <mat-option
            *ngFor="let option of optionSubValues"
            [value]="option.value"
            >{{ option.value }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <button (click)="resetForm()" mat-stroked-button>Скинуть</button>
    </div>
  </mat-card>
</div>
